body {
    background-color: #272822;
    margin-right: 260px;
    padding-left: 10px;
    padding-right: 7px;
}
#site-nav-bar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    z-index: 1;
    background-color: #221f0e;
    padding-top: 30px;
}
#site-nav-bar a {
    padding-top: 20px;
    padding-left: 35px;
    padding-bottom: 20px;
    text-decoration: none;
    color: green;
    display: block;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: bolder;
    font-family: monospace;
    
}
#site-nav-bar a:hover {
    color: red;
}
p {
    color: rgb(170, 163, 154);
    word-break: keep-all;
    line-height: 30px;
}
h1 {
    color: rgb(194, 194, 0);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: gold;
    font-weight: bolder;
    font-family: monospace;
}
a:hover {
    color: cyan  
}
